.wrapper {
  border: 1px solid gray;
  margin: 50px;
  padding: 20px 0;
  width: 400px;
}
.list {
  background-color: rgba(0, 188, 242, 0.3);
  border-radius: 10px;
  margin-left: -20px;
  width: 100%;
  padding: 4px;
  width: 100%;
}

.list:first-child {
  margin-bottom: 20px;
}