.decorated_table {
  background-color: #dddddd;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  display: table;
  width: 100%;
}
.decorated_table:first-child {
  background-color: #c0265b;
  color: white;
}

.decorated_table:nth-child(3) {
  background-color: white;
}

.decorated_table:last-child {
  background-color: white;
  border-bottom: 1px solid gray;
}

.cell {
  display: table-cell;
  padding: 15px 10px;
}

.cell:first-child {
  border-right: 1px solid gray;
  width: 100px;
}
